fastapi
uvicorn
streamlit
pydantic
pydantic-settings
python-dotenv
pypdf
numpy
scikit-learn
sentence-transformers
faiss-cpu
rank-bm25
langgraph
langchain-core
google-generativeai
FlagEmbedding
pytest
httpx